@(title: String)(content: Html)




<!DOCTYPE html>
<html lang="en">
<head>
    <title> @title </title>
    <meta name="keywords" content="jQuery, Switch Button, JavaScript Switch Button" />
    <link rel="stylesheet" href="/assets/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/assets/jqwidgets/jqwidgets/styles/jqx.classic.css" type="text/css" />
    <script type="text/javascript" src="/assets/jqwidgets/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxswitchbutton.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxgrid.filter.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="/assets/jqwidgets/scripts/demos.js"></script>


</head>
<body class='default'>
    @content
</body>
</html>